/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* L		- 1-COLORS */
/* L		- 2-POLICES */
/* L		- 2-ELEMENTS PRINCIPAUX */
/* L		- 2-HEADER */
/* L		- 2-MAIN */
/* L		- 2-SEC 1 SEARCH*/
/* L		- 2-SEC 2 HEB*/
/* L		- 2-SEC 3 ACTIVITE */
/* L        - 2-FOOTER*/
/* L		- 2-MEDIA QUERIES */


/* ---------------------------------------- */
/* ==       COLORS       */
/*---------------------------------------- */


a{
    color: black;
}
i{
    color:#0065fc;
}
/* ---------------------------------------- */
/* ==            POLICES             */
/*---------------------------------------- */
@font-face {
    font-family:"raleway";
    src: url("Projet2-Reservia/Raleway-VariableFont_wght.ttf");
}
body{
    font-family:"raleway";
}
/* ---------------------------------------- */
/* ==            ELEMENTS PRINCIPAUX             */
/*---------------------------------------- */
body{
    margin:0;
    padding: 0;    
    overflow-x: hidden;
    zoom: 1;
}
h1{
    font-weight: bold;
}
ul {
    list-style-type: none;
   }
a{
    text-decoration:none;
    color: black;
}
img{
    width:100%;
    height: auto;
    margin:auto;
}
i{
    font-size: 1rem;
}
button{
    cursor: pointer;
}
#gridcontainer a{
    font-size: 1rem;
}
#gridcontainer{
    margin:0;
}



/* ---------------------------------------- */
/* ==       HEADER     */
/*---------------------------------------- */
header{
    display: flex;
    justify-content: center;
}
#gridcontainer{ 
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    height: 125px;
    width: 100%;
    margin: 0;
   
}
#logo img{
    width: fit-content;
    margin: 0;
}
#inscription{
    color: #0065fc;
    font-weight: 900;
}





/* ---------------------------------------- */
/* ==       MAIN     */
/*---------------------------------------- */
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/* ---------------------------------------- */
/* ==       SECTION 1 RECHERCHE      */
/*---------------------------------------- */
#secrech{
    display: flex;
    height: 550px;
    width: 90%;
    flex-wrap: wrap;
    align-content: space-around;
}
#secrech h1{
    margin: 0;
    font-size: 1.4rem;
}
#secrech p{
    width: 100%;
    margin: 0;
}
.navbar{
    width: 100%;}
form{
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    justify-content: space-between;
    border-radius: 1rem;
    border-top: solid 2px #f2f2f2;
    border-bottom:solid 2px #f2f2f2;
}
.baricon{
    display: flex;
    width: 3rem;
    height:3rem;
    background-color:#f2f2f2;
    border-radius: 1rem 0rem 0rem 1rem;
    align-items: center;
    justify-content: center;
}
.fa-map-marker-alt{
    color:black;    
}
input{
    border: none;  
    width: 160px;
    font-size: 1rem;
    font-weight: bold;
    
}
::placeholder{
    color: black;
}
form button{
    height:3rem;
    width: 3rem;
    background-color:#0065fc;
    border: none;
    font-size: 0%;
    border-radius: 1rem;   
}
.fa-search{
    color: white;
}

/*     FILTRES      */
#filtretitre {
    height: fit-content;
    margin: 0;
}

.divfiltre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 100%;
}


.filtre{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width:fit-content;
    height: fit-content;
    margin:0;
    padding:0 1rem 0 0;
    background-color: white;
    border:solid 2px #d9d9d9;
    border-radius: 500px ;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}
.filtre i{
    display: flex;
    width: 3rem;
    height: 3rem;
    background-color: #DEEBFF;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
    margin: -2px 0 -2px -2px;
}
.filtre:hover{
    background-color: #DEEBFF;
}

/*     INFORMATIONS      */
.divinfo{
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 0;
}
.divinfo i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 2rem;
}
.divinfo p{
    text-align: center;
}



/*------------------------*/
/*     SECTION 2          */
/*------------------------*/
#secheb{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
@media (min-width:1440px){
    #secheb{
        height:600px;
        width: 90%;
        flex-direction:row-reverse ;
        justify-content: space-between;
    }
}



/*     HEB POP      */
#divhebpop{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    height:500px;
    width: 100%;
    background-color: #f2f2f2;    
}
.hebpoptitre{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
    max-width: 100%;
}
.hebpoptitre h2{
    margin:0;
    padding: 0;
}
.fa-chart-line{
    margin: 0;
    font-size: 1.5rem;
    color: black;
}
.hebpoplink{
    display: flex;
    justify-content: space-between;
    width: 84%;
    height: 24%;
    margin: 0;
    padding: .33rem;
    background-color: white;
    border-radius: 1.25rem;
    box-shadow:0rem 0rem 1rem rgba(0, 0, 0, .1);
}
.hebpoplink img{
    height:100%;
    width: 40%;
    margin:0;
    object-fit: cover;
    border-radius: 1rem 0rem 0rem 1rem;
}
.hebpopcaption{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    width: 56%;
    padding:0;
    margin:0;
}
.hebpopcaption h3{
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}
.hebpopcaption p{
    font-size: .8rem;
    margin: 0;
    padding: 0;
}
.hebpopcaption .etoiles{
    display: flex;
    flex-wrap: nowrap;
    margin:0;
}
.hebpopcaption .fa-star{
    font-size: .8rem;
    margin: 0;
    padding: .1rem;
}
.staroff{
    color:#d9d9d9;
}




/*     HEB MARSEILLE      */
#divhebmars{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    height: 1200px;
    width: 90%;
    padding: 1rem 0 1rem 0;
}
#divhebmars h2{
    width: 100%;
    margin: 0;
}
.hebmarslink{
    width: 100%;
    height: 12.5%;
    background-color: white;
    padding: .4rem;
    border-radius: 1.25rem;
    box-shadow:0rem 0rem 1rem rgba(0, 0, 0, .1);
}
.hebmarsimg{
    height:60%;
    width: 100%;
    margin:0px 0rem 0rem 0px;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
}
.hebmarscaption{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;
    width: 100%;
}
.hebmarscaption h3{
    font-size: 1rem;
    font-weight: bold;
    margin:0;
}
.hebmarscaption p{
    font-size: .8rem;
    margin: 0;
    padding: 0;
}
.hebmarscaption .etoiles{
    display: flex;
    flex-wrap: nowrap;
    margin:0;
}
.hebmarscaption .fa-star{
    font-size: .8rem;
    margin: 0;
    padding: .1rem;
}

/*     AFFICHER PLUS      */
.affplus{
    width: 100%;
    font-weight: bolder;
}




/*---------------------------------*/
/*     SECTION ACT  MARSEILLE      */
/*---------------------------------*/
#secact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    padding:1rem 0 2rem 0;
}
#actmarstitre{
    height: fit-content;
    width:100%;
    margin: 0;
}
#actmarscards{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    width: 100%;
    height: 900px;
    margin: 0;
    padding: 0;
}
.actmarslink,.actmarslinktall{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    height: 15%;
    margin: 0;
    background-color: white;
    border-radius: 1.25rem;
    box-shadow:0rem 0rem 1rem rgba(0, 0, 0, .1);
}
.actmarslink img,.actmarslinktall img{
    height:85%;
    width: 100%;
    margin:0;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
}
.actmarslink h3,.actmarslinktall h3{
    font-size: 1rem;
    font-weight: bold;
    margin: auto 0rem auto .5rem;
}




/*-----------------*/
/*     FOOTER      */
/*-----------------*/
footer{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    padding:2rem 0rem 2rem 0rem;
}
#divfooter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
}
footer ul{
    display: flex;
    flex-direction:column ;    
    justify-content: space-evenly;
    height: 150px;
    width: fit-content;
    margin:0;
}
footer li{
    margin:0;
}
footer h3{
    font-weight: bold;
    margin: 0;
}


/*---------------*/
/* MEDIA QUERIES */
/*---------------*/

/*-----HEADER-----*/
@media (max-width: 767px) {
    #gridcontainer a{
        display: flex;
        justify-content: center;
        width:50%;
    }
    .pagenav{
        display: flex;
        justify-content: space-around;
        padding-bottom: 1rem;
        border-bottom: solid 3px #f2f2f2;
    }
    .pagenav:hover{
        color:#0065fc;
        padding-bottom: 1rem;
        border-bottom: solid 3px #0065fc;
    }
}
@media (min-width: 768px) {
    #gridcontainer{
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
        height: fit-content;
        width: 90%;
    }
    #gridcontainer a{
        display: flex;
        justify-content: flex-start;
    }
    #logo{
        padding: 1rem 0 .5rem 0;
        width: 50%;
    }
    #inscription {
        padding-top: 2.2rem;
        order:2;
    }
    .pagenav{
        display: flex;
        justify-content: space-around;
        padding-top: 2rem;
        border-top: solid 3px #f2f2f2;
        font-weight: bold;
    }
    .pagenav:hover{
        color:#0065fc;
        padding-top: 2rem;
        border-top: solid 3px #0065fc;
    }
}
@media (min-width: 1024px) {
}
@media (min-width: 1440px) {
    #logo{
        width: 66.6%;
    }
}
/*-----MAIN-----*/
/*-----SEC 1 SEARCH-----*/
@media (min-width: 768px) {
    #secrech{
        flex-wrap: wrap;
        align-content: space-between;
        height: 300px;
        padding:1rem 0 1rem 0;
    }
    input{
        width: 200px;
    }
    form button{
        width: fit-content;
        font-weight: bold;
        padding: 0 1rem 0 1rem;
        color: white;
        font-size: 1rem;
        border-radius: 0 1rem 1rem 0;
    }
    .fa-search{
        font-size: 0;
    }
}
/*-----FILTRES----*/
@media (min-width: 768px) {
    .divfiltre{
        flex-wrap: nowrap;
        justify-content: space-evenly;
        height:40px;        
    }
}
@media (max-width: 1023px) {
}
@media (min-width: 1024px) {
    .divfiltre{
        width: 90%;
    }
}
@media (max-width: 1023px) {
}
/*-----SEC 2 HEB-----*/
/*HEBPOP*/
@media (min-width: 768px) {
    #divhebpop{
        padding:1rem 0 1rem 0;
        height: 350px;
        justify-content: space-evenly;
    }
    .hebpoplink{
        justify-content: space-between;
        width: 40%;
        height: 35%;
        border-radius: 1.25rem;
    }
}
@media (min-width: 1024px){
    #divhebpop{
        height: 200px;
    }
    .hebpoplink{
        width:28%;
        height: 60%;
    }
}
@media (min-width:1440px){
    #divhebpop{
        height:95%;
        width: 32.5%;
        border-radius: 1rem;
        padding: 1rem;
    }
    .hebpoplink{
        height:25%;
        width:100%;
    }
    .hebpoptitre{
        width: 100%;
    }
}
/*HEBMARS*/
@media (min-width: 768px) {
    #divhebmars{
        height: 800px;
        justify-content: space-between;
        padding:1rem 0 1rem 0;
    }
    .hebmarslink{
        height: 25%;
        width: 45%; 
    }
}
@media (max-width: 1023px){
}
@media (min-width: 1024px){
    #divhebmars{
        height: 550px;
    }
    .hebmarslink{
        height: 35%;
        width: 30%;
    }
}
@media (min-width:1440px){
    #divhebmars{
        height:95%;
        width:60%;
        background-color: #f2f2f2;
        border-radius: 1rem;
        padding: 1rem;
    }
}
@media (min-width: 768px) {
    .affplus{
        font-size: 1.3rem;
    }
}
/*-----SEC 3 ACTIVITE-----*/
@media (min-width: 768px) {
    #actmarscards{
        justify-content: space-between;
        height: 600px;
    }
    .actmarslink,.actmarslinktall{
        width: 47.5%;
        height: 30%;
    }
}
@media (max-width: 1023px){
}

@media (min-width: 1024px){   
    #actmarscards{
        display: flex;
        flex-direction: column;
        height: 350px;
    }
    .actmarslink, .actmarslinktall{
        width: 23%;
    } 
    .actmarslink{
        height: 45%;
    }
    .actmarslinktall{
        height: 100%;
    }
}
@media (min-width:1440px){
    #secact{
        height:450px;
    }
}

/*-----FOOTER-----*/
@media (min-width: 768px) {
    footer ul{
        padding: 0;
    }
}